/* SLIDE */

.ichi-slide-enter-active {
	transition: .3s ease-in;
}
.ichi-slide-leave-active{
	transition: .3s ease-out;
}

.ichi-slide-enter, .ichi-slide-leave-to {
	max-height: 0;
	overflow: hidden;
}

.ichi-slide-enter-to, .ichi-slide-leave {
	max-height: 100px;
	overflow: hidden;
}