/* Tamaño del scroll */
  .ichi__taps_content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

   /* Estilos barra (thumb) de scroll */
  .ichi__taps_content::-webkit-scrollbar-thumb {
    background: #16A085;
    border-radius: 8px;
  }

  /*.ichi__taps_content::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }*/

  .ichi__taps_content::-webkit-scrollbar-thumb:hover {
   /* background: #16A085;*/
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);*/
  }

   /* Estilos track de scroll */
  .ichi__taps_content::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 8px;
  }

  /*.ichi__taps_content::-webkit-scrollbar-track:hover, 
  .ichi__taps_content::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }*/